
    

    <div class="container cards" style="width: 50%;margin-top:50px;box-shadow: 8px 10px 10px 8px #888888"> 
        <form action="" > 
            <h2>Login Form</h2> 
        <label><b>Username</b></label> 
        <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="user_id" required> 

        <label><b>Password</b></label> 
        <input type="password" placeholder="Enter Password" name="psw"[(ngModel)]="password" required> 
        <br><br>
        <button type="submit" (click)="login()"style="background-image: radial-gradient(rgb(134, 11, 104),rgb(60, 6, 129));border-radius:20px;">Login</button> 
        <input type="checkbox" checked="checked"> Remember me 
  
        <div class="container" style="background-color:#f1f1f1"> 
            <button type="button" class="cancelbtn" >Cancel</button> 
            <span class="psw">Forgot <a href="#">password?</a></span> 
        </div> 
        </form> 
    </div> 
