<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="jumbotron" style="background-color: rgb(226, 231, 235);">
  <h1 style="text-align: center;">Admin Panel</h1>
  <div style="float: right;">
    <a class="btn btn-light" style="border: 1px solid silver;padding: 10px 20px 10px 20px;border-radius: 20px;" (click)="logout()">logout</a>
  </div>
</div>
<div style="display: inline-block;padding: 20px;">
  <label for="">City</label>
      <select class="form-control" id="city" (change)="city($event)" name=""label = "cname">
        <option></option>
        <option>nagpur</option>
        <option>chandrapur</option>
        <option>wardha</option>
        <option>bhandara</option>
        <option>amravati</option>
        <option>gondia</option>
      </select>
      
</div>      
<div style="display: inline-block;padding: 20px;">
      <label for="">Category</label>
      <select class="form-control" id="city" (change)="category($event)" name=""label = "cname">
        <option></option>
        <option>Electronics / Home Appliances</option>
        <option>Bakery</option>
        <option>Daily Needs</option>
        <option>Cloths Shop / Fashion Wears</option>
        <option>Books</option>
        <option>Mobile Stores</option>
        <option>Foot Wears</option>
        <option>H/W Shops</option>
        <option>Event Management</option>
        <option>Hotels & Dhabas / Restaurant</option>
        <option>Agriculture Fertilizer / Machinery  </option>
        <option>AutoMobile Sale / Car-Bike</option>
        <option>AutoMobile Services</option>
        <option>Battery & Inverter</option>
        <option>Furniture</option>
        <option>Gold & Silver</option>
        <option>Surgical Instruments</option>
        <option>Lights & Jhoomers</option>
        <option>Hardware</option>
        <option>Herbal Care Products</option>
        <option>Home / Building Materials</option>
        <option>Musical Instruments</option>
        <option>Glass & Aluminiums</option>
        <option>Others</option>
      </select>
</div>
<div style="display: inline-block;padding: 20px;">
     <label for="">Pincode</label>
    <span style="display: inline-block;">
      <input type="text"class="form-control" [(ngModel)]="Pincode">
    </span>
    &nbsp;&nbsp;
    <span>
      <input type="button" class="btn btn-primary"value="submit"(click)="pin()">
    </span>  
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Address</th>
              <th>City</th>
              <th>Pincode</th>
              <th>Area</th>
              <th>MonthExpenses</th>
              <th>Occupation</th>
              <th>MobileNumber</th>
              <th>FavoriteStore</th>
              <th>CustomerShopping</th>
              <th>Download</th>
              <th>BuyIntrest</th>
              <th>State</th>
              <th>RfNumber</th>
              <th>Dates</th>
            </tr>
          </thead>
          <tbody>  
            <ng-container *ngIf = "tmp1==0; else abc">
              <tr *ngFor="let x of data">     
                <td>{{x.FirstName}}</td>
                <td>{{x.LastName}}</td>
                <td>{{x.Address}}</td>
                <td>{{x.City}}</td>
                <td>{{x.Pincode}}</td>
                <td>{{x.Area}}</td>
                <td>{{x.MonthExpenses}}</td>
                <td>{{x.Accupation}}</td>
                <td>{{x.MobileNumber}}</td>
                <td>{{x.FavoriteStore}}</td>
                <td>{{x.CustomerShopping}}</td>
                <td>{{x.Download}}</td>
                <td>{{x.BuyIntrest}}</td>
                <td>{{x.State}}</td>
                <td>{{x.RfNumber}}</td>
                <td>{{x.Dates}}</td>
            </tr>
            </ng-container>
          </tbody>  
      </table>  
     <ng-template #abc>
      <tr *ngFor="let x of dummy.data">     
        <td>{{x.FirstName}}</td>
        <td>{{x.LastName}}</td>
        <td>{{x.Address}}</td>
        <td>{{x.City}}</td>
        <td>{{x.Pincode}}</td>
        <td>{{x.Area}}</td>
        <td>{{x.MonthExpenses}}</td>
        <td>{{x.Accupation}}</td>
        <td>{{x.MobileNumber}}</td>
        <td>{{x.FavoriteStore}}</td>
        <td>{{x.CustomerShopping}}</td>
        <td>{{x.Download}}</td>
        <td>{{x.BuyIntrest}}</td>
        <td>{{x.State}}</td>
        <td>{{x.RfNumber}}</td>
        <td>{{x.Dates}}</td>
    </tr>
     </ng-template>
    </div>
  </div>
</div>
  
  
  
  