<head>
  <style>
    .footer {
      
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: silver;
       color: black;
       height:25%;
       
    }
    
    #img1{padding-left:80px;
    padding-right:25px;padding-bottom:30px;
    padding-top:20px;
    height: 20%;
    width: 20%;
      }

      #i1{
        height:5%;
        width: 5%;
        padding-top: 20px;
      }
      #i2{
        height: 7%;
        width: 7%;
        padding-top: 20px;
      }
    </style>
    
</head>

<div class="card" style="width: 70%;margin: auto;">
<div class="card col-12 top " >

    <a routerLink="login">login</a>
    <br><br>
    <h2 class="card-header" class="heading" >  BadaBazar Form </h2>
    <hr>
    <div class="card-body">
        <form [formGroup]="myform" (ngSubmit)=" onSubmit()">   
          <div class="form-row">
  
                <div class="form-group col-12 col-md-6 ">
                    <label><b class="label" >First Name</b></label>
                    <input type="text" placeholder="Enter First Name" [(ngModel)]="FirstName" formControlName="FirstName" class="form-control" />
                    <span *ngIf="myform.controls.FirstName.errors && myform.controls.FirstName.errors.required">Enter text</span>
                    <span  *ngIf="myform.controls.FirstName.errors && myform.controls.FirstName.errors.pattern">Number & Special Character not allowed</span>
                </div>
                <div class="form-group col-12 col-md-6 ">
                    <label><b class="label">Last Name </b></label>
                    <input type="text"placeholder="Enter Last Name" formControlName="LastName" [(ngModel)]="LastName"  class="form-control"  >
                    <span *ngIf="myform.controls.LastName.errors && myform.controls.LastName.errors.required">Enter text</span>
                    <span  *ngIf="myform.controls.LastName.errors && myform.controls.LastName.errors.pattern">Number & Special Character not allowed</span>
                </div>
            </div>
  
  
  
  
  
  
            <div class="form-row">
  
              <div class="form-group col-12 col-md-6">
                  <label class="label" >Address</label>
                  <input type="text"  placeholder="Enter Address" [(ngModel)]="Address" formControlName="Address"  class="form-control"  >
                  <span *ngIf="myform.controls.Address.errors && myform.controls.Address.errors.required">Enter address</span>
                  <span  *ngIf="myform.controls.Address.errors && myform.controls.Address.errors.pattern">Enter Valid data</span>
              </div>
              <div class="form-group col-12 col-md-6">
                  <label class="label" > City</label>
                  <input type="text" placeholder="Enter Your City" formControlName="City" [(ngModel)]="City"  class="form-control"  >
                  <span *ngIf="myform.controls.City.errors && myform.controls.City.errors.required">Enter text</span>
                  <span  *ngIf="myform.controls.City.errors && myform.controls.City.errors.pattern">Number & Special character not allowed</span>
              </div>
  
  
          </div>
  
          <div class="form-row">
  
            <div class="form-group col-12 col-md-6">
                <label  class="label">Pincode</label>
                <input type="text" placeholder="Enter Pincode" [(ngModel)]="Pincode" formControlName="Pincode"  class="form-control"  >
                <span *ngIf="myform.controls.Pincode.errors && myform.controls.Pincode.errors.required">Enter Number</span>
                  
            </div>
            <div class="form-group col-12 col-md-6">
                <label  class="label">Area</label>
                <input type="text" placeholder="Enter Area" [(ngModel)]="Area" formControlName="Area"  class="form-control"  >
                <span *ngIf="myform.controls.Area.errors && myform.controls.Area.errors.required">Enter text</span>
                
            </div>
  
  
        </div>
  
        <div class="form-row">
  
          <div class="form-group col-12 col-md-6">
              <label class="label">Monthly Expenses</label>
              <input type="text" placeholder="Enter Monthly Expenses" [(ngModel)]="MonthExpenses" formControlName="MonthExpenses"  class="form-control"  >
              <span *ngIf="myform.controls.MonthExpenses.errors && myform.controls.MonthExpenses.errors.required">Enter Number only</span>
              <span  *ngIf="myform.controls.MonthExpenses.errors && myform.controls.MonthExpenses.errors.pattern">Text & special Character not allowed</span>
          </div>
          <div class="form-group col-12 col-md-6">
              <label  class="label">Occupation </label>
              <input type="text" placeholder="Enter Your Occupation" [(ngModel)]="Accupation" formControlName="Accupation"  class="form-control"  >
              <span *ngIf="myform.controls.Accupation.errors && myform.controls.Accupation.errors.required">Enter text</span>
              <span  *ngIf="myform.controls.Accupation.errors && myform.controls.Accupation.errors.pattern">Number & Special Character not allowed</span>
          </div>
  
  
      </div>
  
      <div class="form-row">
  
        <div class="form-group col-12 col-md-6">
            <label class="label"> Mobile Number</label>
            <input type="text" placeholder="Enter mobile Number" [(ngModel)]="MobileNumber" formControlName="MobileNumber"  class="form-control"  >
            <span *ngIf="myform.controls.MobileNumber.errors && myform.controls.MobileNumber.errors.required">Enter Number</span>
            <span  *ngIf="myform.controls.MobileNumber.errors && myform.controls.MobileNumber.errors.pattern">Text & Special Character not allowed</span>
        </div>
        <div class="form-group col-12 col-md-6">
            <label  class="label">  Near My Favorite Store</label>
            <input type="text" placeholder="Enter Your Favorite store" [(ngModel)]="FavoriteStore" formControlName="FavoriteStore"  class="form-control"  >
            <span *ngIf="myform.controls.FavoriteStore.errors && myform.controls.FavoriteStore.errors.required">Enter text</span>
            <span  *ngIf="myform.controls.FavoriteStore.errors && myform.controls.FavoriteStore.errors.pattern">Number & Special Character not allowed</span>
        </div>
  
  
    </div>
  
    <div class="form-row">
  
      <div class="form-group col-12 col-md-6">
          <label class="label"> From Wher Customer Like to do Shopping </label> <br>
          <label style="color: white;"><input type="radio" name="CustomerShopping" formControlName="CustomerShopping" (click)="radioChangeHandler($event)" value="Online" class="ckeck"> OnLine</label>  &nbsp;
          <label style="color: white;"><input type="radio" name="CustomerShopping" formControlName="CustomerShopping" (click)="radioChangeHandler($event)" value="Offline" class="ckeck"> OffLine</label>  &nbsp;
          <label style="color: white;"><input type="radio" name="CustomerShopping" formControlName="CustomerShopping" (click)="radioChangeHandler($event)" value="Both" class="ckeck"> Both</label>  &nbsp;
         <br> <span *ngIf="myform.controls.CustomerShopping.errors && myform.controls.CustomerShopping.errors.required">requied</span>
       </div>
       <div class="form-group col-12 col-md-6">
        <label class="label"> Have  you download the BadaBazar </label> <br>  
        <input type="radio" class="ckeck" (click)="radioChangeHandler1($event)" formControlName="Download" name="Download" value="yes" /> <span style="color: white;"> Yes</span> &nbsp;
        <input type="radio" class="ckeck" (click)="radioChangeHandler1($event)" formControlName="Download" name="Download" value=" no" />  <span style="color: white;"> No</span>
    <br><span *ngIf="myform.controls.Download.errors && myform.controls.Download.errors.required">requied</span>
</div>
  </div>
  
  
  <div class="form-row">
  
    <div class="form-group col-12 col-md-6 ">
        <label  class="label"> What you have  to buy </label>
        <!-- drop down -->
        <ng-multiselect-dropdown 
        [placeholder]="'Select Category'" 
        [data]="data" 
        [settings]="settings"
        [disabled]="false"
        formControlName="BuyIntrest"
        (onFilterChange)="onFilterChange($event)"
        (onDropDownClose)="onDropDownClose($event)"
        (onSelect)="onItemSelect($event)" 
        (onDeSelect)="onDeSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onDeSelectAll($event)">
          </ng-multiselect-dropdown>
          <span *ngIf="myform.controls.BuyIntrest.errors && myform.controls.BuyIntrest.errors.required">Required</span>
    </div>
  
  
  <div class="form-group col-12 col-md-6">
    <label class="label"> Rf Number</label>
    <input type="text" placeholder="Enter Rf Number" formControlName="RfNumber" [(ngModel)]="RfNumber"  class="form-control"  >
    <span *ngIf="myform.controls.RfNumber.errors && myform.controls.RfNumber.errors.required">Enter Number only</span>
    <span *ngIf="myform.controls.RfNumber.errors && myform.controls.RfNumber.errors.pattern">Text & special Character not allowed</span>
  </div>
  </div>
  
  <div class="form-row">
  
    <div class="form-group col-12 col-md-6 ">
        <label><b class="label" >State </b></label>
        <input type="text" placeholder="Enter State" [(ngModel)]="State" formControlName="State" class="form-control" >
        <span *ngIf="myform.controls.State.errors && myform.controls.State.errors.required">Enter text</span>
        <span *ngIf="myform.controls.State.errors && myform.controls.State.errors.pattern">Number & Special Character not allowed</span>
    </div>
  </div>
  
  
  
  
            <div class="text-center" style="margin-bottom: 30px;">
                <button class="btnn  mr-1" >Submit </button>
                <button class="btnn" type="reset" >Cancel</button>
            </div>


   <br><br>
   
  
          <div >
            <table style="margin:auto">
              <tr >
                <td class="tdr"><a href="http://badabazarr.com/"><img  src="assets/b1.png"  style="width: 40%; height: 40%;"></a></td>
                <td ><p ><b style="color:white">Contact No</b><br><br>
                  <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;<a style="color:silver">+91 9373934410</a><br>
                  <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;<a style="color:silver">+91 9359504942</a>
                  </p>
                </td>
                <td style="padding-left: 50px;"> <a href="https://www.facebook.com/BadaBazarrIndia"><img  style="width: 50px; " src="assets/fb.png" ></a>
                  
                  <a href="https://www.instagram.com/badabazarr/?hl=en"><img  style="width: 70px;" src="assets/insta.png"></a></td>
                  </tr>
            </table>
          </div>
    
            
        </form>
  
    </div>
  </div>
</div>


  