/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */
.c-btn{
    background-color: white;
 }
 
 
 
 @media screen and (max-width:500px) {
   .card {
 
 
     margin: 0px !important;
     width: 100% !important;
   }
 }
 
 @media screen and (max-width:500px) {
  .cards {


    margin-top: 100px !important;
    width: 100% !important;
  }
}


 .top{
   width: 70%; margin: auto;
    border: none;
 background-image:  linear-gradient(88deg,#e663be,#07044F);
 }
    .heading{
      color: white;
      text-align: center;
    }
 
     .label{
       color: white;
       font-weight:normal;
     }
 
     .btnn{
       background-image: linear-gradient(95deg, rgb(226, 84, 155), blue)!important;
       border-radius: 50px;
       margin: 15px!important;
       border: none;
       width: 20%;
       height: 55px!important;
       color: white;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
 
     @media screen and (max-width:600px) {
   .btnn{
 
 
     width: 100%!important;
       height: 55px!important;
   }
 }
 
 .head{
 
   color: white;
   font-family: sans-serif;
 }
 
 
     input.ckeck{
       width: 18px;
       height: 18px;
     }

       
     @media screen and (max-width:500px) {
      .tdr {
    
    
        margin:1px !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
 